* {
  margin: 0;
  padding: 0;
  list-style: none;
}
header h2 {
  text-align: center;
  color: #fff;
  font-size: 5em;
  margin-top: 10vh;
  text-transform: capitalize;
}

.absolute-centered-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-container {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: rgb(248, 6, 6);
}
.box-container h2 {
  color: #fff;
  font-size: 5em;
  padding-top: 35%;
  text-align: center;
  bottom: 175px;
  right: 100px;
  text-transform: capitalize;
}
.flexContainer {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
}
.flexContainer button {
  height: 40px;
  width: 40px;
}
.app {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 45%;
  justify-content: space-around;
}
.centered-container {
  top: 18%;
  align-items: center;
  width: 50%;
  margin: auto;
}
.feedContainer {
  top: 12%;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  height: 100;
}
.formContainer {
  background-color: rgba(98, 0, 255, 0.295);
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 12%;
  align-items: center;
  width: 120%;
  padding: 12px;
  border-radius: 12px;
}
.post {
  width: 90%;
  padding: 12px;
  margin-bottom: 12px;
  background-color: rgba(255, 238, 238, 0.151);
  border: 1px solid rgba(255, 0, 0, 0.308);
}
.post header {
  display: flex;
}
.post header h5 {
  padding-left: 10px;
  color: rgb(236, 236, 236);
  font-weight: 750;
  line-height: 2em;
}
.post img {
  height: 50px;
  border-radius: 50%;
  float: left;
  width: auto;
}
